@{
    ViewBag.Title = "Home Page";
}
<div class="home-banner">
    <img src="../../Content/Image/homebanner.jpg " alt="Home banner background" class="image" />
</div>
<div class="row">
    <div class="jumbotron">
        <div class="col-md-6 body-banner-text">
            <div class="text-center">I'm going to let technology work.</div>
            <div class="text-capitalize text-center">Let's build something amazing togheter.</div>
            <div class="center-block mx-auto" style="width: 200px;">
                <button class="btn btn-default">Agenda.</button>
                <button class="btn btn-default">Contact.</button>
            </div>
        </div>
    </div>
</div>
<div class="row home-rows">
    <div class="col-sm-4 home-cols">
        <img src="~/Content/Image/buxy.jpg" alt="bugs bunny" />
    </div>
    <div class="col-sm-8 home-cols">
        <h3>header h3 text</h3>
        <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, 
        toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, 
        overgenomen in elektronische </p>
    </div>
</div>
<div class="row home-rows">
    <div class="col-sm-8 home-cols">
        <h3>header h3 text</h3>
        <p>
            Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
            toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd,
            overgenomen in elektronische
        </p>
    </div>
    <div class="col-sm-4 home-cols" >
        <img src="~/Content/Image/buxy.jpg" alt="bugs bunny" />
    </div>
</div>
<div class="container home-rows">
    <div class="row">
        <div class="col-sm-3 home-block shadow p-4 mb-4 bg-white">
            <img src="~/Content/Image/square.png" alt="square" class="cols-img" />
            <h4>vierkantje</h4>
            <p>
                Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.
            </p>
        </div>
        <div class="col-sm-3 home-block shadow p-4 mb-4 bg-white">
            <img src="~/Content/Image/square.png" alt="square" class="cols-img" />
            <h4>vierkantje</h4>
            <p>
                Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.
            </p>
        </div>
        <div class="col-sm-3 home-block shadow p-4 mb-4 bg-white">
            <img src="~/Content/Image/square.png" alt="square" class="cols-img" />
            <h4>vierkantje</h4>
            <p>
                Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.
            </p>
        </div>
    </div>
</div>
